<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>
<%= render 'shared/error_messages' %>
<div class="hero-unit">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
    <%= form_for(@user) do |f| %>
        <%= f.label :name %><br />
        <%= f.text_field :name %><br />
        <%= f.label :email %><br />
        <%= f.text_field :email %><br />
        <%= f.label :password %><br />
        <%= f.password_field :password %><br />
        <%= f.label :password_confirmation, "Confirm Password" %><br />
        <%= f.password_field :password_confirmation %><br />
        <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
    </div>
    <div class="col-md-2" align="center">
      <%= gravatar_for @user %>
      <p><strong><a href="http://gravatar.com/emails">change</a></strong></p>
    </div>
  </div>
</div>

