<% provide(:title, @user.name) %>
<% breadcrumb :user, @user %>
<div class="container">
<div class="row">
  <aside class="col-sm-7 col-md-4 usr-block">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %></h1>
        <h4>
        <%= @user.email %>
      </h4>
    </section>
  </aside>
  <div class="col-sm-11 col-md-8", style="padding-right: 25px;">
    <% if @user.microposts.any? %>
        <h3 align="center">Сообщения этого пользователя (<%= @user.microposts.count %>)</h3>
        <ul class="microposts list-unstyled">
          <%= render @microposts %>
        </ul>
        <%= will_paginate @microposts %>
    <% end %>
  </div>
 </div>
</div>