<!DOCTYPE html>
<html>
<head>
  <title><%= full_title( yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<header class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container" align="center">
      <%= link_to image_tag("s5_logo.png", alt: "Rails"), '#' %>
      <nav class="btn-group">
        <%= link_to "Home",    '#', class: "btn btn-primary"%>
        <%= link_to "Help",    '#', class: "btn btn-primary" %>
        <%= link_to "Enter", '#', class: "btn btn-primary" %>
      </nav>
    </div>
  </div>
 </header>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
